<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:mobile.properties</value>
            </list>
        </property>
    </bean>

    <bean id="mobileDefinition" class="com.tgzhao.core.common.MobileDefinition">
        <property name="ktvHost" value="${ktv.host}" />
        <property name="discountUrl" value="${discount.url}" />
        <property name="uploadRoot" value="${ktv.host}" />
        <property name="socketHost" value="${ktv.host}" />
        <property name="ktvAvatar" value="${ktv.host}" />
    </bean>

    <bean id="injectStr" class="java.lang.String">
    </bean>
</beans>